# Python Datatypes

### There are 4 collection datatypes #####      
        1. LIST
        2. SET
        3. TUPLE
        4. DICTINOARY

Lets Discuss one by one

## LIST #### 

    List are dinoted by []
    List items are ordered, changeable, and allow duplicate values.
    List items are indexed, the first item has index [0], the second item has index [1] etc.

In [1]:
mylist=["apple","banana","cherry","apple","cherry"]

In [2]:
print(type(mylist))

<class 'list'>

In [3]:
print(mylist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [4]:
mylist[0]

'apple'

In [5]:
mylist[1]

'banana'

In [6]:
print(len(mylist))

5

#### Python supports negative indexing

In [7]:
mylist[-1]

'cherry'

In [8]:
mylist[-3]

'cherry'

#### change item in list

In [9]:
mylist[0] = "guava"

In [10]:
print(mylist[0])

guava

In [11]:
print(mylist)

['guava', 'banana', 'cherry', 'apple', 'cherry']

## SET ####

    Set are denoted by {}
    Set items are unordered, unchangeable, and do not allow duplicate values.
    
    Sets are unordered, so you cannot be sure in which order the items will appear.
    Once a set is created, you cannot change its items, but you can remove items and add new items.
    Here unchangeable means we can not update each value.

In [12]:
myset = {"apple", "banana", "cherry"}

In [13]:
print(type(myset))

<class 'set'>

In [14]:
print(myset)

{'apple', 'banana', 'cherry'}

#### Below code will give you error! As set object do not allow to feach data using index 
but we can fetch data using loop and "in" logic

In [15]:
print(myset[0])

TypeError: 'set' object is not subscriptable

In [16]:
for i in myset:
    print(i)

apple
banana
cherry

In [17]:
print("banana" in myset)

True

In [18]:
myset = {"apple", "banana", "cherry", "apple"} # Duplicate not allowed

In [19]:
print(myset)

{'apple', 'banana', 'cherry'}

In [20]:
print(len(myset))

3

#### Add and update set are allowed

In [21]:
myset.add("orange")

In [22]:
print(myset)

{'apple', 'banana', 'orange', 'cherry'}

In [23]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

In [24]:
print(tropical)

{'pineapple', 'papaya', 'mango'}

In [25]:
thisset.update(tropical)

print(thisset)

{'apple', 'pineapple', 'banana', 'papaya', 'mango', 'cherry'}

##

## TUPLE ####

    Tuple is denoted by ()
    Tuple items are ordered, unchangeable, and allow duplicate values.

    Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [26]:
mytuple = ("apple", "banana", "cherry")

In [27]:
print(type(mytuple))

<class 'tuple'>

In [28]:
print(mytuple)

('apple', 'banana', 'cherry')

In [29]:
print(mytuple[0])

apple

#### Below code will give you error as tuples are unchangeable!

In [30]:
mytuple[0]="guava"

TypeError: 'tuple' object does not support item assignment

In [31]:
mytuple = ("apple", "banana", "cherry", "apple", "cherry")
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [32]:
print(len(mytuple))

5

##

## DICTIONARY ####
    Dictionary is denoted by {} and key value
    Dictionary items are ordered, changeable, and does not allow duplicates.

    Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
    
    As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [33]:
mydict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [34]:
print(type(mydict))

<class 'dict'>

In [35]:
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [36]:
mydict["brand"]

'Ford'

In [37]:
mydict["model"]

'Mustang'

In [38]:
mydict["model"] = "fiesta"
mydict["model"]

'fiesta'

#### Below code will give you latest value for key "year",  As dictionary object do not allow duplicate values

In [39]:
mydict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020,
  "year": 2023
}
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2023}

#### --------------------------------------------------

## Text Type : STRING ####

In [40]:
myst = "We are learning python datatypes"

In [41]:
print(type(myst))

<class 'str'>

In [42]:
print(myst)

We are learning python datatypes

In [43]:
myst[0]

'W'

In [46]:
myst[-1]

's'

## Numeric : INT, FLOAT, COMPLEX ####

### INT

In [47]:
x = 102
y = 35656222554887711
z = -3255522

In [48]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [49]:
print(x)
print(y)
print(z)

102
35656222554887711
-3255522

#### Below code will give you error because integer object do not have index

In [50]:
x[1]

TypeError: 'int' object is not subscriptable

### FLOAT

In [51]:
x = 1.10
y = 1.0
z = -35.59

In [52]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [53]:
print(x)
print(y)
print(z)

1.1
1.0
-35.59

In [54]:
x = 35e3
y = 12E4
z = -87.7e100

In [55]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [56]:
print(x)
print(y)
print(z)

35000.0
120000.0
-8.77e+101

### COMPLEX

In [57]:
x = 1j
y = 1j + 5
z = 2j - 10

In [58]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [59]:
print(x)
print(y)
print(z)

1j
(5+1j)
(-10+2j)

### BOOLEAN : BOOL

In [64]:
x = True
y = False

In [65]:
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [66]:
print(x)
print(y)

True
False

## Congratulations!!

#### You have completed python datatypes. Keep learning and follow @chandradeepanand for more such content.